@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body>
    <div class="container">
        <h1 class="h1">Order Confirmation</h1>
       
            <h2>Thank you for your order!</h2>
            <p>Your order has been confirmed. We will inform you accordingly stay tuned!</p>
        <a asp-area="" asp-controller="Ship" asp-action="Order">view your order</a>
        
    </div>
</body>

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 800px;
        margin: 50px auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    .h1 {
        text-align: center;
    }

    .order-details {
        margin-top: 30px;
    }

        .order-details h2 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .order-details p {
            margin-bottom: 20px;
        }

    








</style>