html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

@media (min-width: 1260px) {

    .looogin {
        display: none;
    }

    .buaj {
        display: none;
    }
    

    .ftx {
        display: none;
    }
    .oo {
        display: none;
    }
    .wowzah ul {
        display: none;
    }
    .wowzah ul li{
        display: none;
    }
    .wowzah ul li a {
        display: none;
    }
    .adminn {
        display: none;
    }
}


@media (max-width: 976px) {
    .forms{
        display: none;
    }
    .loogin {
        display: none;
    }
    .cart{
        display: none;
    }
    .panel {
        display: none;
    }
    .nsp {
        display: none;
    }
    .navbar1{
     display:none

    }
    .middle {
        display: none
    }
    .ftno {
        display: none
    }
    .imoo {
        display: none
    }
    .lmn {
        display: none;
    }
    .hmimgx {
        display: none;
    }

}
@media (max-width: 768px) {
    .REQ {
        padding: 10px;
    }

    .table th, .table td {
        font-size: 12px;
        padding: 8px;
    }

    .btn-primary, .btn-danger {
        font-size: 10px;
        padding: 4px 8px;
    }
}
