html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

@media (min-width: 1068px) {
   
    .looogin {
        display: none;
    }
    .buaj{
        display: none;
    }
    .ftx {
        display: none;
    }
}


@media (max-width: 1260px) {
    .forms{
        display: none;
    }
    .loogin {
        display: none;
    }
    .cart{
        display: none;
    }
    .panel {
        display: none;
    }
    .nsp {
        display: none;
    }
    .navbar1{
     display:none

    }
    .middle {
        display: none
    }
    .ftno {
        display: none
    }
    .imoo{
        display:none;
    }
    

}
