@model Vrika.Models.LoginUser
@{

}
<style>


    .login {
        max-width: 400px;
        margin: 25px auto;
        margin-left:5%;
        padding: 20px;
        background-color: #efdbdb;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        align-items:center;
    }

    .imgo {
        display: block;
        margin: 0 auto 5px;
        width: 50px;
    }

    .Lhead {
        text-align: center;
        margin-bottom: 10px;
        color: #212529;
    }

    .form-label {
        display: block;
        margin-bottom: 5px;
        color: #212529;
        font-size:14px;
        font-weight:600;
    }

    .form-input {
        width: 100%;
        padding: 5px;
        margin-bottom: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .fp {
        display: block;
        text-align: right;
        margin-bottom: 2px;
        color:black;
    }

    .regx {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 5px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .ftx {
        display: none;
    }
        .regx:hover {
            background-color: #45a049;
        }
        #ct{

            margin-top:5px;
            margin-left:30%;
        color: #212529;
        }
    .gg {
        margin-bottom: 5px;
        margin-left:22%;
    }

        .gg a {
            display: inline-block;
            color: #212529;
            text-decoration: none;
            margin-right: 10px;
        }

            .gg a:last-child {
                margin-right: 0;
            }

    .register li a{
        color: black;



    }

    
    .register li{
        color: #212529;
        



    }

    .ftn {
        display: block;
        margin-top: 10px;
        font-size: 12px;
        color: #ffeaea;
        text-decoration: none;
    }
    .fn{
        list-style-type: none;
        color: #ffeaea;
    }
    .imoo{
        max-width:600px;
        margin:0 25%;
        margin-top:150px;
        height:200px;
    }
    .div{
        display:flex;
       
    }
</style>
<div class="div">
   
<div class="login" >
    
    

<form method="post" class="register">
   <img class="imgo" src="~/css/kisspng-computer-icons-login-management-user-5ae155f36cf686.7736884715247170434463.png" alt="Avatar">
    <div class="log">

        <h1 class="Lhead">
            LOGIN PORTAL !
        </h1>




                @* Display error message section *@
                @Html.ValidationSummary(false, "", new { @class = "alert-danger" })

        <label class="form-label">USERNAME </label>
        <input class="form-input" type="text" id="Username" placeholder="ENTER YOUR USERNAME HERE" asp-for="UserName" required >
                <span asp-validation-for="UserName" style="color:red; font-size:0.6em;"></span>




        <label class="form-label">PASSWORD</label>
        <input class="form-input " id="Password" type="Password" placeholder="ENTER YOUR PASSWORD HERE" asp-for="Password" required >
         <span style="color:red; font-size:0.6em;" asp-validation-for="Password"></span>
            <a class="fp" asp-area="" asp-controller="Home" asp-action="Index">Forgot Password?</a>

            <br />





        <button class="regx btn btn-primary" type="submit"> LOGIN</button>


            <h6 id="ct">
                Continue With
            </h6>
            <div class="gg">
                <a class="fb" asp-area="" asp-controller="Register" asp-action="Register"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a>
                <a class="fb" asp-area="" asp-controller="Register" asp-action="Register"><i class="fa fa-google" aria-hidden="true"></i> Google</a>


       

        
            </div>
            <li> if you don't have an account then. <a asp-area="" asp-controller="Register" asp-action="Register">Register</a></li>
             <a class="ftn" asp-area="" asp-page="/login">Privacy · Terms · Advertising · Ad choices   · Cookies  ·  · Meta © 2024</a><style color=" color: #ffeaea;"></style> 
    </div>
</form>
</div>
    <img class="imoo" src="~/css/kisspng-clip-art-access-control-user-computer-icons-image-5b6e95d5e9f0c0.6042276715339739739582.png" alt="Avatar">

</div>