@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Vrika.Models.Userprofile;

<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
        
    }

    .full{

       height:100vh;






    }


    .content-container {
        text-align: center;
        margin-left: 10px;
        margin-top:40px;
        /* Adjust margin as needed */
    }

    .profile-container {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        max-width: 400px;
        width: 100%;
        box-sizing: border-box;
        display: inline-block;
    }

        .profile-container h2{
            margin:10px





        }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 15px;
    }

    th, td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    .logout-btn {
        background-color: #e44d26;
        color: #fff;
        padding: 8px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration:none;
        transition: background-color 0.3s ease;
    }

        .logout-btn:hover {
            background-color: #c2371c;
        }

</style>

<div class="full">

    <!--  <div class="data">
        <h3>Vrika</h3>
        <P>
            Welcome to vrika, the online bookstore for book lovers of all kinds. Whether you are looking for fiction,
            non-fiction, classics, or bestsellers, we have something for you.
           
        </P>
    //</div> -->



    <div class="content-container">
        <div class="profile-container">
            <img class="pr" src="~/css/man_4140048.png" alt="Avatar">
            <h2>User Profile</h2>
            <table>
                <tr>
                    <th>Attribute</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <td>Username</td>
                    <td>@Model.Username</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>@Model.Email</td>
                </tr>
                <!-- Add more rows for additional properties -->
            </table>
            <a class="logout-btn" asp-area="" asp-controller="Register" asp-action="Logout">Logout</a>
        </div>
    </div>




</div>